<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <appSettings>
            <add key="url" value="http://www.wegottickets.com/searchresults/page/1/all"/>
            <add key="singleEventListItemXpath" value="//*[@class='ListingOuter']"/>
            <add key ="priceXpath" value="//div[@class='searchResultsPrice']/strong" />
            <add key ="dateXpath" value="//div[@class='ListingAct']/blockquote/h3/a" />
            <add key ="venuecity" value="//*[@class='venuetown']" />
            <add key ="venueName" value="//*[@class='venuename']" />
            <add key ="eventName" value="//div[@class='ListingAct']/blockquote/p" />
        </appSettings>
</configuration>